body {
    margin: 4em;
}

body, input {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input {
    padding: 0.4em;
}

input[type="text"] {
    width: 30em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table th, .table td {
    border: 0.1em solid;
    padding: 0.4em;
}

.table {
    border-spacing: 0em;
    border-collapse: collapse;
}

.taskcell {
    min-width: 20em;
}

.addedcell {
    width: 8em;
}
